body{
    background: linear-gradient(purple, HotPink) no-repeat center;
    background-attachment: fixed;

}

.frase{
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: Steelblue;
    background-color: white;
    margin: 150px;
    padding: 60px; 
    border-radius: 20px;
    box-shadow: 7px 7px 15px black; 
    text-shadow: 2px 2px 2px #32CD32;
    transform: rotate(-10deg);
}